#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=PPSSPP
Icon[en_US]=/home/moetrixs/Game/PPSSPP/assets/icon_regular_72.png
Comment[en_US]=Start PSP emulator
Exec=/home/moetrixs/Game/PPSSPP/PPSSPPSDL
Name=PPSSPP
Icon=/home/moetrixs/Game/PPSSPP/assets/icon_regular_72.png
Comment=Start PSP Emulator
